version: 2
updates:
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: weekly
      day: monday
    target-branch: develop
    open-pull-requests-limit: 10
    groups:
      production-deps:
        dependency-type: production
        update-types:
          - minor
          - patch
      dev-deps:
        dependency-type: development
        update-types:
          - minor
          - patch

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
      day: monday
    target-branch: develop
    open-pull-requests-limit: 10
